@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --black: #000;
    --white: #fff;
    --soft-white: #FEFEFE;
    --light--gray: #FFF8F5;
    --main: #43484E;
    --active: #F59B90;
    --active-dark: #A87E72;
    --bg-color: #f5e8e7;
    --footer: #a77d71;
    --footer-links: #dbcac6;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    background-color: var(--bg-color);
    font-weight: 100;
    color: var(--main);
    overflow: auto;
}

a {
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Черный цвет с прозрачностью 50% */
    z-index: 1;
}

select option:hover {
    background-color: var(--active);
    color: white;
}
